*{
  --card-bg: #DFDFDF;
  --accent-color: #0080FF;
}
button{
  cursor: pointer;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
}
body{
  background-color: rgb(238, 236, 236)
}