:root{
  --card-bg: #DFDFDF;
  --card-bg-dark: #a1a3a5;
  --accent-color: #0080FF;
  --accent-color-2: #192e70;
  --light-text: rgb(141, 141, 141);
}
button{
  cursor: pointer;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
}
body{
  background-color: rgb(238, 236, 236)
}