.modal{
    margin: 2%;
    background-color: #DFDFDF;
    width: 50%;
    padding-bottom: 2%;
}
.new-tweet-box{
    padding-top: 2%;
    text-align: center;
}
.new-tweet-text-box{
    width: 80%;
    height: 100px;
}
.post-new-tweet{
    width: 30%;
    height: 50px;
    border: none;
    background-color: #0080FF;
}