.tweet{
    padding:0.5%;
    width:95%;
    margin-left:1%;
    background-color: var(--card-bg);
    margin-top:0.25%;
    margin-bottom:0.25%;
}
.tweet-timestamp{
    text-align: right;
    color: var(--light-text);
}
.tweet-text{
    font-weight: 300;
    margin-left: 1%;
}

@media screen and (max-width:580px) {
    .tweet{
        width: 70%;
        margin:0%;
        margin-top:1%;
        align-self: center;
    }
    .tweets-top-bar{
        align-content: center;
    }
}